body {
  text-align: center;
  background-image: url("https://wallpaperaccess.com/full/1892327.jpg");
  background-size: cover;
  /* background-position: ; */
}

h1 {
  color: rgb(55, 72, 203);
  font-weight: bold;
  background-color: grey;
  padding-top: 15px;
  padding-bottom: 15px;
  text-shadow: 2px 2px black;
}

.listItem {
  border: solid black 2px;
  border-radius: 5px;
  text-align: center;
  margin-left: 35%;
  margin-right: 35%;
  margin-bottom: 10px;
  box-shadow: 5px 5px grey;
}