<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vendor List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>Pierre Bakery - New Order</h1>
    <form action="/vendors/@Model.Id/orders" method="post">
      <label for="orderItem">Order Item:</label>
      <input for="orderItem" name="orderItem" type="text">
      <label for="orderAmount">Order Amount:</label>
      <input for="orderAmount" name="orderAmount" type="text">
      <label for="orderPrice">Order Price:</label>
      <input for="orderPrice" name="orderPrice" type="text">
      <label for="orderDate">Order Date:</label>
      <input for="orderDate" name="orderDate" type="text">
      <button type="submit">Add</button>
    </form>
    <h3><a href='/vendors'>View vendors</a></h3>
    <p><a href="/">Back home</a></p>
  </body>
</html>